.principal{
    font-size: 9vw;
}
.secundario{
    font-size: 9vw;
}
.principal2{
    font-size: 9vw;
}

@media (min-width: 960px){
    .principal {
        font-size: 18vw;
    }
    .principal2{
        font-size: 16vw;
    }

}

@media (max-width: 767px){
    .principal {
        font-size: 50vw;
    }
    .principal2{
        font-size: 40vw;
    }
}