<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container text-center" style="max-width: 100%;max-height: 100%;">
    
    <div class="row justify-content-center" style="margin-top: 1%;">
      <div class="col-7 col-md-1" style="background-color: cadetblue;">
        <h1 class="principal">J</h1>
      </div>
      <div class="col-5 col-md-7" >
        <div class="row justify-content-md-around row-cols-1" style="background-color: cadetblue;">
          <div class="col-md-auto">
            <h1 class="secundario">E</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">R</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">O</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">N</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">I</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">M</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">O</h1>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="row" style="height: 50%;">
            <div class="col-0 col-lg-12"><p class="text-white">a</p></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row justify-content-center" style="margin-top: 1%;">
      <div class="col-7 col-md-1" style="background-color: cadetblue;">
        <h1 class="principal2" >M</h1>
      </div>
      <div class="col-5 col-md-7" >
        <div class="row justify-content-md-around row-cols-1" style="background-color: cadetblue;">
          <div class="col-md-auto">
            <h1 class="secundario">O</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">S</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">Q</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">U</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">E</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">R</h1>
          </div>
          <div class="col-md-auto">
            <h1 class="secundario">A</h1>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="row" style="height: 50%;">
            <div class="col-0 col-lg-12"><p class="text-white">a</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
